
.ads-section{
    padding-top: 0px;
    padding-bottom: 0px;
}

.ads-wrapper img {
    height: auto;
    display: block;
  }
  
  .ads-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .left-top {
    display: flex;
    align-items: center;
    width: 720px;
    position: relative;
  }
  .ads-left-bottom {
    display: flex;
  }
  .ads-bottom-left {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    width: 360px;
  }
  .ads-bottom-right {
    display: flex;
    align-items: center;
    background-color: #353535;
    width: 360px;
  }
  
  .ads-right {
    display: flex;
    align-items: center;
    background-color: #ededed;
    width: 720px;
  }

  .left-top-content{
    position: absolute;
    max-width: 93%;
    margin: auto;
    padding-left: 334px;
  }
  
  .left-top-content h2 {
    font-size: 49px;
    font-weight: 500;
    margin: 0px;
  }
  
  .ads-right-content h2 {
    font-size: 64px;
    margin: 0px;
    line-height: toRem(56);
    font-weight: var(--fw-medium);
  }
  
  .ads-left-bottom h2 {
    font-size: 29px;
    margin: 0px;
    font-weight: var(--fw-regular);
    line-height: 40px;
  }
  
  .bottom-left-side-content {
    padding: 0px 48px;
  }
  
  .bottom-left-right-content {
    padding: 0px 48px 0px 16px;
  }
  
  .ads-right-content {
    padding: 157px 12px 154px 54px;
  }
  

  .ads-right-content span {
    font-weight: var(--fw-thin);
    
  }

  .bottom-left-side-content span {
    font-weight: 200;
  }

.bottom-left-right-content span {
  font-weight: 200;
}

.bottom-left-right-content h2{
  color: var(--white);
}

.bottom-left-right-content p{
  color: #9E9E9E;
}


@media(min-width:1600px){
  .ads-bottom-right{
    width: 100%;
  }
  .ads-bottom-left{
    width: 100%;
  }
  .ads-right{
    width: auto;
  }
  .left-top{
    width: auto;
  }
}

@media (max-width: 1200px) {
  .ads-wrapper {
    grid-template-columns: 1fr;
  }

  .left-top,
  .ads-right {
    width: 100%;
  }

  .ads-left-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ads-bottom-left,
  .ads-bottom-right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ads-wrapper {
    display: flex;
    flex-direction: column;
  }

  .ads-left {
    display: flex;
    flex-direction: column;
  }

  .left-top,
  .ads-left-bottom,
  .ads-bottom-left,
  .ads-bottom-right,
  .ads-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-top-content,
  .bottom-left-side-content,
  .bottom-left-right-content,
  .ads-right-content {
    padding: 0px;
    position: static;
    max-width: 90%;
    text-align: center;

  }

  .left-top-content {
    padding-left: 0;
  }

  .ads-wrapper img {
    width: 100%;
    height: auto;
    padding-top: 40px;
  }

  .ads-wrapper h2{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 34px;
  }

  .ads-right-content h2 {
    font-size: toRem(42);
    line-height: 1.1;
  }

  .left-top-content h2 {
    font-size: toRem(36);
  }

  // .ads-left-bottom h2 {
  //   font-size: toRem(26);
  //   line-height: 1.2;
  // }

  .ads-right-content .primary-btn {
    text-align: center;
  }

  .ads-left-bottom {
    order: 1;
  }

  .ads-bottom-left {
    order: 1;
  }

  .ads-bottom-right {
    order: 2;
  }

  .left-top {
    order: 2;
  }

  .ads-right {
    order: 3;
  }
  .ads-wrapper p{
    padding-bottom: 40px;
    margin-top: 0px;
  }
  
  .bottom-left-right-content br,
  .ads-right-content br {
    display: none;
  }

  .ads-right{
    flex-direction: column-reverse;
  }

  .ads-right-content p{
    padding-bottom: 16px;
  }

  .ads-right-content{
    padding-bottom: 40px;
  }
  .ads-right-content .primary-btn{
    margin-inline: auto;
  }
  
}