
.ads-section{
    padding-top: 0px;
    padding-bottom: 0px;
}

.ads-wrapper img {
    height: auto;
    display: block;
  }
  
  .ads-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .left-top {
    display: flex;
    align-items: center;
    width: toRem(720);
    position: relative;
  }
  .ads-left-bottom {
    display: flex;
  }
  .ads-bottom-left {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    width: toRem(360);
  }
  .ads-bottom-right {
    display: flex;
    align-items: center;
    background-color: #353535;
    width: toRem(360);
  }
  
  .ads-right {
    display: flex;
    align-items: center;
    background-color: #ededed;
    width: toRem(720);
  }

  .left-top-content{
    position: absolute;
    max-width: 93%;
    margin: auto;
    padding-left: toRem(334);
  }
  
  .left-top-content h2 {
    font-size: toRem(49);
    font-weight: var(--fw-medium);
    margin: 0px;
  }
  
  .ads-right-content h2 {
    font-size: toRem(64);
    margin: 0px;
    line-height: toRem(56);
    font-weight: var(--fw-medium);
  }
  
  .ads-left-bottom h2 {
    font-size: toRem(29);
    margin: 0px;
    font-weight: var(--fw-regular);
    line-height: 40px;
  }
  
  .bottom-left-side-content {
    padding: 0px toRem(48);
  }
  
  .bottom-left-right-content {
    padding: 0px toRem(48) 0px toRem(16);
  }
  
  .ads-right-content {
    padding: toRem(157) toRem(12) toRem(154) toRem(54);
  }
  

  .ads-right-content span {
    font-weight: var(--fw-thin);
    
  }

  .bottom-left-side-content span {
    font-weight: 200;
  }

.bottom-left-right-content span {
  font-weight: 200;
}

.bottom-left-right-content h2{
  color: var(--white);
}

.bottom-left-right-content p{
  color: #9E9E9E;
}


@media(min-width:1600px){
  .ads-bottom-right{
    width: 100%;
  }
  .ads-bottom-left{
    width: 100%;
  }
  .ads-right{
    width: auto;
    gap:128px;
  }
  .left-top{
    width: auto;
  }
}

@media (max-width: 1200px) {
  .ads-wrapper {
    grid-template-columns: 1fr;
  }

  .left-top,
  .ads-right {
    width: 100%;
  }

  .ads-left-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ads-bottom-left,
  .ads-bottom-right {
    width: 100%;
  }
}

@media (max-width: 784px) {
  .ads-wrapper {
    display: flex;
    flex-direction: column;
  }

  .ads-left {
    display: flex;
    flex-direction: column;
  }


  .left-top,
  .ads-left-bottom,
  .ads-bottom-left,
  .ads-bottom-right,
  .ads-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-top-content,
  .bottom-left-side-content,
  .bottom-left-right-content,
  .ads-right-content {
    padding: 0px;
    position: static;
    max-width: 90%;
    text-align: center;

  }

  .left-top-content {
    padding-left: 0;
  }

  .ads-wrapper img {
    width: 100%;
    height: auto;
    padding-top: 40px;
  }

  .ads-wrapper h2{
    margin-top: toRem(24);
    margin-bottom: toRem(8);
    font-size: toRem(34);
  }

  .ads-right-content h2 {
    font-size: toRem(42);
    line-height: 1.1;
  }

  .left-top-content h2 {
    font-size: toRem(36);
  }

  .ads-right-content .primary-btn {
    text-align: center;
  }

  .ads-left-bottom {
    order: 1;
  }

  .ads-bottom-left {
    order: 1;
  }

  .ads-bottom-right {
    order: 2;
  }

  .left-top {
    order: 2;
  }

  .ads-right {
    order: 3;
  }
  .ads-wrapper p{
    padding-bottom: toRem(40);
    margin-top: 0px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bottom-left-right-content br,
  .ads-right-content br {
    display: none;
  }

  .ads-right{
    flex-direction: column-reverse;
  }

  .ads-right-content p{
    padding-bottom: toRem(16);
  }

  .ads-right-content{
    padding-bottom: toRem(40);
  }
  .ads-right-content .primary-btn{
    margin-inline: auto;
  }
  
}