
  
  .hero {
    height: toRem(632);
    background: #211c24;
    overflow: hidden;
    padding-bottom: 0px;
  }
  
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .hero__content {
    z-index: 2;
  }
  

  .hero__tagline {
    font-size: toRem(25);
    color:#7A777C;
    font-weight: var(--fw-semibold);
    margin-bottom: toRem(24);
    margin-top: 0px;
}

  .hero__title {
    margin: 0;
  }
  
  .hero__title span {
    display: block;
    font-weight: 600;
  }
  
  .hero__description {
    font-size:toRem(18);
    color: #878484;
    margin-top: toRem(24);
    margin-bottom: toRem(24);
  }
  
  

  
  
  .hero__image img {
    width: 100%;
    height: auto;
    max-width: toRem(420);
    display: block;
  }


  @media(min-width:705px) and (max-width:1131px){
    .hero {
      height: auto;
    }
    .hero__title {
      line-height: toRem(95);
      font-size: toRem(80);
  }

  .hero__description{
    margin-top: 0px;
  }
  }
  
  @media (min-width: 768px) {
  
    .hero .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }
  
    .hero__content {
      flex: 1.5;
    }
  
    .hero__title span {
      display: inline;
    }
  
  
    .hero__image {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  
    .hero__image img {
      max-width: toRem(500);
    }
  }
  
  @media (max-width: 768px) {
    .hero {
        height: auto;
        padding-top: 88px;

    }    

    .her0-image{
      margin-top: 0;
    }
  
    .hero__tagline {
        margin-top: toRem(88);
        margin-bottom: toRem(16);
        width: 100%;
    }
    .hero__content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .hero__description{
      margin-top: toRem(16);
      margin-bottom: toRem(32);
    }

    .hero{
      padding-bottom:0px
    }

    .hero__content .white-btn{
      margin-bottom: toRem(48);
      margin-left: auto;
      margin-right: auto;
    }
    .hero__content{
      justify-content: center;
      align-items: center;
      text-align: center !important;
    }

   
  } 

  @media(max-width:480px){
    .hero__content{
      justify-content: center;
      align-items: center;
      text-align: center !important;
    }
  }
  
  