

/* ===== FOOTER ===== */
.footer {
  background: #000;
}

.footer__container {
  padding: toRem(104) 0px 0px;
  display: grid;
  gap: toRem(40);
  grid-template-columns: 1.5fr 1fr 1fr;
}

/* ===== BRAND ===== */

.footer__description {
  margin-bottom: toRem(185);
  width: toRem(384);
  color: #CFCFCF;
  margin-top: 0px;
}

.footer__brand img{
    margin-bottom: toRem(24);
}

/* ===== NAV ===== */
.footer__heading {
  font-size: toRem(16);
  font-weight: var(--fw-semibold);
  margin-bottom: toRem(16);
  color: var(--white);
  margin-top: 0px;
}

.footer__nav ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav li {
  margin-bottom: toRem(10);
  color: #CFCFCF;
  
}

.footer__nav a {
  text-decoration: none;
  color: #aaa;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.footer__nav a:hover,
.footer__nav a:focus {
  color: var(--white);
}

/* ===== SOCIAL ===== */
.footer__social {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0px;
}

.footer__social a {
  display: inline-flex;
  width: toRem(36);
  height: toRem(36);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white);
  transition: background 0.2s ease;
}


.icon-Twitter2{
    width: toRem(16);
    height: toRem(16);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    max-width: toRem(1120);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: toRem(64);
    width: 90%;
    align-items: center;
}


.footer__copyright{
    color: #CFCFCF;
    font-size: toRem(14);
    margin-top: 0px;
}


/* ===== RESPONSIVE ===== */

/* Tablet */
@media (max-width: 933px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }

  .footer__brand {
    grid-column: span 2;
  }
  .footer__description {
    margin-bottom: toRem(35);
  }
  .footer__bottom {
    margin-top: toRem(27);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .footer {
    padding: toRem(40) toRem(16);
  }

  .footer__container {
    display: flex ;
    flex-direction: column;
    text-align: center ;
    gap: toRem(30);
    padding-top: toRem(3);
  }

  .footer__brand {
    grid-column: span 1;
  }

  .footer__description {
    max-width: 100%;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: toRem(3);
  }
  .footer__description {
    margin-bottom: toRem(20);
}

}