
   /* Tabs */
  .product-category-tabs {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
  }
  
  .product-category-tab {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--para-color);
    cursor: pointer;
    padding: 0 0 6px 0;
    font-weight: var(--fw-medium);
    }
  
  .product-category-tab.active {
    color: #000;
    border-bottom: 2px solid #000;
  }
  
  /* Grid */
  .product-category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  
  /* Card */
  .product-category-card {
    // width: 268px;
    // height: 432px;
    background: #F6F6F6;
    padding: 0px 16px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    min-width: 0;
    display: flex;
    flex-direction: column;
    // height: 100%;
  }
  
 
  
  /* Image */
  .product-category-card picture {
    height: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 16px;
  }

  .product-category-image {
    width: 100%;
    // max-height: 140px;
    object-fit: contain;
    margin: 0;
   }
  
  /* Title */
  .product-category-title {
    margin-bottom: 16px;
    font-weight: var(--fw-regular);
    color: var(--primary-color);
    margin-top: 0px;
    flex-grow: 1;
  }
  
  /* Price */
  .product-category-price {
    font-size: 24px;
    font-weight: var(--fw-semibold);
    margin-top: auto;
    margin-bottom: 12px;
    color: var(--primary-color);
    margin-bottom: 16px;
}
  
  /* Button */
  .product-category-buy-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 24px;
  }

  
  .product-category-buy-btn:focus {
    outline: 2px solid #000;
  }
  
  /* Wishlist */
  .product-category-fav-btn {
    background-color: transparent;
    width: 100%;
    justify-content: end;
    display: flex;
    margin-top: 24px;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0px;
  }

  .product-category-fav-btn span{
    font-size: 23px;
    width: 32px;
    height: 32px;
  }

  
  .product-category-fav-btn.active {
    color: red;
  }

  /* Responsive */
  @media (max-width: 1024px) {
    .product-category-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .product-category-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
    }

    .product-category-card .secondary-btn {
      width: 100%;
      max-width: 183px;
    }
  
    .product-category-title {
      font-size: 13px;
    }
  
    .product-category-price {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .product-category-tabs {
      gap: 16px;
      font-size: 13px;
    }

    .product-category-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .product-category-card .secondary-btn {
      max-width: 100%;
      padding-left: 12px;
      padding-right: 12px;
    }
  }