.white-btn{
    border: 1px solid var(--white);
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: all 0.3s ease;
    width: toRem(195);
    height: toRem(56);
    padding: toRem(16) toRem(56);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}



.primary-btn{
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: all 0.3s ease;
    width: toRem(195);
    height: toRem(56);
    padding: toRem(16) toRem(56);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: toRem(16);
    background-color: transparent;
    cursor: pointer;

}

.secondary-btn{
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: all 0.3s ease;
    width: toRem(183);
    height: toRem(48);
    padding: toRem(12) toRem(25);   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: toRem(24);
    cursor: pointer;

}




@media(max-width: 768px){
.white-btn{
    margin-bottom: toRem(48);
}
.primary-btn{
margin-top: 0px;
}

.secondary-btn{
    width: toRem(140);
    height: toRem(48);
}
}