.white-btn{
    border: 1px solid var(--white);
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: all 0.3s ease;
    width: 195px;
    height: 56px;
    padding: 16px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.primary-btn{
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: all 0.3s ease;
    width: 195px;
    height: 56px;
    padding: 16px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.secondary-btn{
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    transition: all 0.3s ease;
    width: 183px;
    height: 48px;
    padding: 12px 25px;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}




@media(max-width: 768px){
.white-btn{
    margin-bottom: toRem(48);
}
.primary-btn{
margin-top: 0px;
}

.secondary-btn{
    width: 140px;
    height: 48px;
}
}